<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [ngClass]="{hidden: !(blIsHandset$ | async)}"
    [attr.role]="(blIsHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(blIsHandset$ | async) ? 'over' : 'side'"
    [opened]="!(blIsHandset$ | async)">
    <mat-toolbar>Navegación</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/characters">Personajes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-sidenav-content">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="blIsHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span *ngIf="(blIsHandset$ | async)">Rickopedia</span>
      <a *ngIf="!(blIsHandset$ | async)" mat-list-item routerLink="/home"
        routerLinkActive="active">Home</a>
      <a *ngIf="!(blIsHandset$ | async)" mat-list-item routerLink="/characters"
        routerLinkActive="active">Personajes</a>
    </mat-toolbar>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
