:host {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    .grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .character {
            font-size: 0.6rem;
        }
    }
    .warning {
         display: flex;
         justify-content: center;
    }
}