$card-size: 13rem;
$card-size-sm: 25rem;
:host {
    margin: 1rem;
    transition: box-shadow 0.3s cubic-bezier(.25, .8, .25, 1);
    flex-shrink: 1;
    .card {
        width: $card-size;
        height: $card-size;
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        @media (max-width: 786px) {
            width: $card-size-sm;
            height: $card-size-sm;
        }
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
    }
}